<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Explore</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/create">Create Post</a></li>
    <% if (isAdmin) { %>
      <li><a href="/admin/dashboard">Admin</a></li>
    <% } else { %>
      <li><a href="/admin/login">Admin</a></li>
    <% } %>
  </ul>
</nav>
